
:root {
  --bg-main: #121212;
  --bg-sidebar: #1E1F29;
  --bg-input: #2A2B38;
  --accent: #4F46E5;
  --bubble-sent: #4F46E5;
  --bubble-received: #2E2E38;
  --text-primary: #E0E0E0;
  --text-secondary: #A1A1AA;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
 
}
.parent {
  display: flex;
  height: 100vh; 
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
 

 } 


.home-container {
 background: linear-gradient(135deg, #0f0c29, #24204e, #1b1b31) !important;
 flex: 1;
  display: flex;
  overflow: hidden; 
}



.sidebar {
  
  max-width: 450px;
  width:30vw;
  border-right: 1px solid #333;
  padding: 0px;
  overflow-y: auto;
}

.contacts-title {
  color: #facc15;
  font-size: 25px;
  font-weight: 600;
  padding-top:20px;
margin-bottom:5px;
margin-left:0.3rem;
}

.show-online {
 display: flex;
 align-items: center;
font-size: 18px;
color: #ccc;
gap: 8px;
margin-bottom: 20px;
}
.online-count {
  font-size: 12px;
  color: #888;
}

.user-list {
  display: flex;
 flex-direction: column;
  gap: 12px;
}
.eachUser{
 background-color: rgba(63, 11, 95, 0.679);
  margin-bottom: 0.4rem;
 height:4rem;
 padding:0.4rem;
 border-radius: 0.4rem;

}
.Checkbox{
  margin-left: 1rem;
  border: 2px solid rgb(0, 110, 255);
  
}
.show-online input[type="checkbox"] {
  width: 16px;
  height:16px;
}

.Checkbox:hover{
  transform: scale(1.1);
}
.eachUser:hover{
 background-color: rgb(114, 41, 160);
}

.each-user-inside{
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.selected{
  background-color: rgb(87, 27, 124);
}

.user-item {
  display: flex;
  align-items: center;
  background-color: black;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}

.user-item:hover {
  background-color: #2c1e33;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user-avatar:hover{
  transform: scale(1.2);
}

.user-name {
font-size: 0.8rem;
  font-weight: 500;
}

.user-status {
  font-size: 12px;
  color: #aaa;
}


 .chat-area {
  flex: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}


.chat-welcome {
  text-align: center;
}

.chat-icon {
  font-size: 38px;
  color: #facc15;
  margin-bottom: 12px;
}

.chat-welcome h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 6px;
}

.chat-welcome p {
  font-size: 16px;
  color: #aaa;
}

@media only screen and (max-width:500px){
  
  .home-container{
    display:flex;
    flex-direction: column;

  }
  .chat-area{
    display: none;
  }
  .sidebar {
    max-width: 100%;
    width: 100%;
  }
  .sidebar-no-small-screen ,.topNav-no-small-screen{
    display: none;
  }
}
.sidebar{
  border-radius:25px ;
  
}




