.request-box {
  flex: 1;
  padding: 1rem;
 min-height: calc(100vh - 150px); 
  overflow-y: auto;

}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}


 .request-box .user-card {
  width: 150px;
  background-color: #ffffff0a;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.user-card:hover{
     background-color: #ffffff13;
       border:0.3px solid white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.334), 0 0 15px rgba(255, 255, 255, 0.235);
     

}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.cards-container  .card-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

.view-btn,
.accept-btn {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-btn {
  background-color: #9740c0b0;
}

.accept-btn {
     background-color: #3f5f5f71;
  color: white;
}
.accept-btn:hover{
  background-color: #3f5f5fb9;
}

.user-name {
  font-size: 0.9rem;
  font-weight: bold;
}

.see-more-container {
  text-align: center;
  margin-top: 1rem;
}

.see-more-btn {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
