.bottom-navbar {
 background: linear-gradient(135deg, #0f0c29, #24204e, #1b1b31) !important;
 padding: 10px 20px; 
  box-shadow: 0 -2px 10px rgba(255, 192, 203, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 999;
}

.bottom-navbar {
  height: 60px; 
  flex-shrink: 0;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}

.navbar-list li {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-list li:hover {
  color: #ff69b4; 
}
