@import "tailwindcss";
@plugin "daisyui";

body {
   background: #111827;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}
#root {
    background: #111827;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

body.dark-mode, body.dark-mode #root {
  /* background: linear-gradient(135deg, #18122b, #181225 80%, #0a081b 100%) !important; */
}

 



